*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Noto Sans TC', 'Roboto Mono', monospace, sans-serif;
}

html {
  background-color: white;
  padding: 0;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  --code-block-color: #EBEBEB;
  display: flex;
  justify-content: center;
}

article {
  --heading-two-color: #748174;
  --heading-two-hover-color: #3A606E;
  width: 100%;
  padding: 1rem;
  border: 1px solid #EBEBEB;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

article:hover {
  box-shadow: 4px 4px 12px 2px rgba(128, 155, 157, 0.8);
}

article > h2 {
  color: var(--heading-two-color);
}

article:hover > h2 {
  color: var(--heading-two-hover-color);
}

img {
  border-radius: 0.25rem;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
}

.introduce {
  text-align: justify;
  padding-inline: 1rem;
  line-height: 1.5;
}

.container {
  min-width: 430px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.demo-block {
  display: block;
  width: 100%;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  background-color: var(--code-block-color);
  border-radius: 0.25rem;
}

.col__flex--1 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.stack {
  height: 850px;
  display: grid;
  grid-template-rows: repeat(2, 380px);
  gap: 0.5rem;
}

.expand-width {
  animation-name: expand;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.default-img {
  width: 200px;
}

@media screen and (min-width: 800px) {
  .expand-width {
    animation-name: expand-md;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .default-img {
    width: initial;
  }
}


.font-sm {
  font-size: 62.5%;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.gui-switch {
  --thumb-size: 2rem;
  --thumb: hsl(0 0% 100%);
  --thumb-hightlight: hsl(0 0% 0% / 25%);
  
  --thumb-color: var(--thumb);
  --thumb-color-hightlight: var(--thumb-hightlight);
  
  --track-size: calc(var(--thumb-size) * 2);
  --track-padding: 2px;

  --track-inactive: hsl(80 0% 80%);
  --track-active: hsl(80 60% 45%);

  --track-color-inactive: var(--track-inactive);
  --track-color-active: var(--track-active);
  
  display: flex;
  align-items: center;
  gap: 2ch;
  justify-content: space-between;
  
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.gui-switch > input {
  --thumb-position: 0%;
  --thumb-transition-duration: .25s;
  
  padding: var(--track-padding);
  background: var(--track-color-inactive);
  inline-size: var(--track-size);
  block-size: var(--thumb-size);
  border-radius: var(--track-size);

  appearance: none;
  pointer-events: none;
  touch-action: pan-y;
  border: none;
  outline-offset: 5px;
  box-sizing: content-box;
  
  flex-shrink: 0;
  display: grid;
  align-items: center;
  grid: [track] 1fr / [track] 1fr;

  transition: background-color .25s ease;
}

.gui-switch > input::before {
  --highlight-size: 0;
  
  content: "";
  cursor: pointer;
  pointer-events: auto;
  grid-area: track;
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  background: var(--thumb-color);
  box-shadow: 0 0 0 var(--highlight-size) var(--thumb-color-hightlight);
  border-radius: 50%;
  
  transform: translateX(var(--thumb-position));

  transition:
    transform var(--thumb-transition-duration) ease,
    box-shadow .25s ease;
}

.gui-switch > input:checked {
  --thumb-position: calc(var(--track-size) - 100%);

  background: var(--track-color-active);
}

.gui-switch > input:disabled {
  cursor: not-allowed;
  --thumb-color: transparent;
}

.gui-switch > input:disabled::before {
  cursor: not-allowed;
  box-shadow: inset 0 0 0 2px hsl(0 0% 100% / 50%);

}

.gui-switch > input:not(:disabled):hover::before {
  --highlight-size: .5rem;
}

@keyframes expand {
  from {
    width: 250px;
    grid-template-columns: 250px;
  }
  to {
    width: 400px;
    grid-template-columns: 400px;
  }
}

@keyframes expand-md {
  from {
    width: 250px;
    grid-template-columns: 250px;
  }
  to {
    width: 750px;
    grid-template-columns: 750px;
  }
}
